
  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered">
          <img src="/images/albertico-212x212.jpg" alt="Albertico" class="img-circle">
  				<h1>Hi, I am Alberto Col&oacute;n Viera!</h1>
          <h3><em>Coding democracy one hack at a time.</em></h3>
          <br>
          <p>
            CIO in Government. Aspiring Innovator.<br>
            Open Government and Open Data advocate.<br>
            Co-founder of <a href="http://code4puertorico.org/"><strong>Code 4 Puerto Rico</strong></a>.<br>
            <h3>
              <span class="label label-default" style="display:inline-block; margin:4px;">OpenGov</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">OpenData</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">DevOps</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">Geospatial</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">Ruby</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">Maker</span>
              <span class="label label-default" style="display:inline-block; margin:4px;">Open Hardware</span>
            </h3>
          </p>
        </div><!-- /col-lg-10 -->
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /ww -->

  <!-- +++++ Projects Section +++++ -->
  <div class="container pt">
    <div class="row mt centered">
      <div class="col-md-4">
        <a href="https://twitter.com/alberti_co">
          <h1>
            <i class="fa fa-twitter-square home-section-icon"></i>
            <br><br>
            Twitter
          </h1>
          <br>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://github.com/albertico">
          <h1>
            <i class="fa fa-github-alt home-section-icon"></i>
            <br><br>
            Github
          </h1>
          <br>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://pr.linkedin.com/in/albertico/">
          <h1>
            <i class="fa fa-linkedin-square home-section-icon"></i>
            <br><br>
            Linked In
          </h1>
          <br>
        </a>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
